{% extends "base.html" %}

{% block title %}Recuperar Contraseña{% endblock %}

{% block content %}
<div className="w-screen min-h-screen flex flex-col bg-white text-black">
    <div className="flex-1 flex items-center justify-center px-4">
        <div className="w-full max-w-[400px] text-center bg-yellow-500 p-6 rounded-md shadow-md">
            <h2 className="text-4xl font-bold mb-6">Recuperar Contraseña</h2>
            <p className="text-lg text-gray-800 mb-4">
                Introduce tu correo electrónico para recibir instrucciones de restablecimiento.
            </p>
            <form method="post" class="flex flex-col space-y-4">
                {% csrf_token %}

                <div class="text-left">
                    <label class="block text-lg font-semibold">Correo Electrónico:</label>
                    <input 
                        type="email" 
                        name="email"
                        class="w-full p-3 border border-gray-300 rounded-md bg-yellow-100 focus:ring-2 focus:ring-yellow-400 focus:outline-none"
                        required
                    />
                </div>

                <button type="submit" class="bg-black text-yellow-400 px-6 py-3 font-bold rounded-md hover:bg-gray-800 transition duration-300">
                    Enviar Enlace
                </button>
            </form>
            <div class="mt-4">
                <a href="https://chees-script.vercel.app/login" class="bg-black text-yellow-400 px-6 py-3 font-bold rounded-md hover:bg-gray-800 transition duration-300">Volver al Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
