{% extends "base.html" %}

{% block title %}Email Enviado{% endblock %}

{% block content %}
<div className="w-screen min-h-screen flex flex-col bg-white text-black">
    <div className="flex-1 flex items-center justify-center px-4">
        <div className="w-full max-w-[400px] text-center bg-yellow-500 p-6 rounded-md shadow-md">
            <h2 className="text-4xl font-bold mb-6">Correo Enviado</h2>
            <p className="text-lg text-gray-800 mb-9">
                Si el email está registrado, recibirás un enlace para restablecer tu contraseña.
            </p>

            <p className="text-lg text-gray-800 mb-9">
                ‎ 
            </p>

            <div className="mt-6">
                <a href="http://localhost:5173/login" class="bg-black text-yellow-400 px-6 py-3 font-bold rounded-md hover:bg-gray-800 transition duration-300">
                    Volver al Login
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}