{% extends "base.html" %}

{% block title %}Email Enviado{% endblock %}

{% block content %}
<h2 class="text-4xl font-bold mb-6">📧 Correo Enviado</h2>

<p class="text-base text-gray-800 mb-6">
    Si el email está registrado, recibirás un enlace para restablecer tu contraseña.
</p>

    <p className="text-lg text-gray-800 mb-9">
        ‎ 
        </p>

<a href="https://chees-script.vercel.app/login" class="inline-block w-full text-center bg-black text-yellow-400 px-6 py-3 font-bold rounded-md hover:bg-gray-800 transition">
    Volver al Login
    </a>
{% endblock %}